.circular-gallery {
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
}

.circular-gallery canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: transparent;
}
