.laser-flow-container {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.laser-flow-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}
